In [1]:
import pandas as pd

In [2]:
#terror_data = pd.read_csv("data/cleaned/terror.csv", encoding = "ISO-8859-1")

In [3]:
#terror_data.columns.to_list()

## Identification variables pertinentes

In [4]:
variables_pertinentes = ['iyear', 'iday', 'imonth', 'nkill', 'country_txt', 'nwound', 'region_txt', 'provstate',
                         'city', 'nkillus', 'nwoundus', 'region_txt', 'latitude', 'longitude',
                         'attacktype1_txt', 'alternative_txt', 'suicide', 'ransompaid', 'nhostkid', 'hostkidoutcome_txt'
                         , 'ransomnote', 'nhours', 'ndays', 'ransompaidus', 'nhostkidus', 'summary', 'motive', 'gname'
                         , 'natlty1_txt', 'kidhijcountry', 'weaptype1_txt', 'weapsubtype1_txt', 'weaptype2_txt', 'weapsubtype2_txt', 'weaptype3_txt', 'weapsubtype3_txt'
                         , 'weaptype4_txt', 'weapsubtype4_txt', 'targtype1_txt', 'targsubtype1_txt', 'targtype2_txt', 'targsubtype2_txt', 'targtype3_txt', 'targsubtype3_txt'
                         , 'claimmode_txt', 'propextent_txt', 'propextent', 'propvalue', 'dbsource'
                         ]

In [5]:
#new_data = terror_data[variables_pertinentes]

In [6]:
#new_data.to_csv("data/cleaned/terror.csv", index = False)

In [75]:
new_data = pd.read_csv("data/cleaned/terror.csv")

In [76]:
new_data.columns

Index(['iyear', 'iday', 'imonth', 'nkill', 'country_txt', 'nwound',
       'region_txt', 'provstate', 'city', 'nkillus', 'nwoundus',
       'region_txt.1', 'latitude', 'longitude', 'attacktype1_txt',
       'alternative_txt', 'suicide', 'ransompaid', 'nhostkid',
       'hostkidoutcome_txt', 'ransomnote', 'nhours', 'ndays', 'ransompaidus',
       'nhostkidus', 'summary', 'motive', 'gname', 'natlty1_txt',
       'kidhijcountry', 'weaptype1_txt', 'weapsubtype1_txt', 'weaptype2_txt',
       'weapsubtype2_txt', 'weaptype3_txt', 'weapsubtype3_txt',
       'weaptype4_txt', 'weapsubtype4_txt', 'targtype1_txt',
       'targsubtype1_txt', 'targtype2_txt', 'targsubtype2_txt',
       'targtype3_txt', 'targsubtype3_txt', 'claimmode_txt', 'propextent_txt',
       'propextent', 'propvalue', 'dbsource', 'date'],
      dtype='object')

In [77]:
new_data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180800 entries, 0 to 180799
Data columns (total 50 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   iyear               180800 non-null  int64
 1   iday                180800 non-null  int64
 2   imonth              180800 non-null  int64
 3   nkill               180800 non-null  float64
 4   country_txt         180800 non-null  object
 5   nwound              180800 non-null  float64
 6   region_txt          180800 non-null  object
 7   provstate           180800 non-null  object
 8   city                180800 non-null  object
 9   nkillus             180800 non-null  float64
 10  nwoundus            180800 non-null  float64
 11  region_txt.1        180800 non-null  object
 12  latitude            180800 non-null  float64
 13  longitude           180800 non-null  float64
 14  attacktype1_txt     180800 non-null  object
 15  alternative_txt     180800 non-null  object
 16  suicide             180800 non-null  int64
 17  ransompaid          180800 non-null  float64
 18  nhostkid            180800 non-null  float64
 19  hostkidoutcome_txt  180800 non-null  object
 20  ransomnote          180800 non-null  object
 21  nhours              180800 non-null  float64
 22  ndays               180800 non-null  float64
 23  ransompaidus        180800 non-null  float64
 24  nhostkidus          180800 non-null  float64
 25  summary             180800 non-null  object
 26  motive              180800 non-null  object
 27  gname               180800 non-null  object
 28  natlty1_txt         180800 non-null  object
 29  kidhijcountry       180800 non-null  object
 30  weaptype1_txt       180800 non-null  object
 31  weapsubtype1_txt    180800 non-null  object
 32  weaptype2_txt       180800 non-null  object
 33  weapsubtype2_txt    180800 non-null  object
 34  weaptype3_txt       180800 non-null  object
 35  weapsubtype3_txt    180800 non-null  object
 36  weaptype4_txt       180800 non-null  object
 37  weapsubtype4_txt    180800 non-null  object
 38  targtype1_txt       180800 non-null  object
 39  targsubtype1_txt    180800 non-null  object
 40  targtype2_txt       180800 non-null  object
 41  targsubtype2_txt    180800 non-null  object
 42  targtype3_txt       180800 non-null  object
 43  targsubtype3_txt    180800 non-null  object
 44  claimmode_txt       180800 non-null  object
 45  propextent_txt      180800 non-null  object
 46  propextent          180800 non-null  float64
 47  propvalue           180800 non-null  float64
 48  dbsource            180800 non-null  object
 49  date                180800 non-null  object
dtypes: float64(14), int64(4), object(32)
memory usage: 46.9+ MB

## Nombre de lignes et de colonnes

In [78]:
# nombre de colonnes et de lignes
new_data.shape

(180800, 50)

On a 49 variables et 181691 observations dans le jeu de données

## Ajoutons une nouvelle colonne date qui va nous permettre de classer directement par date les observations

In [79]:
# further we must see if the column iday, imonth and iyear can be concatenated
new_data["iday"].unique()

array([ 1,  2,  3,  6,  8,  9, 10, 11, 12, 13, 14, 15, 19, 20, 21, 22, 25,
       26, 27, 28, 30, 31,  4,  7, 16, 17, 18, 23, 24,  5, 29],
      dtype=int64)

In [80]:
new_data["imonth"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [81]:
new_data["iyear"].unique()

array([1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017], dtype=int64)

In [82]:
new_data[(new_data["iday"] == 0)].index.__len__()

0

In [83]:
new_data[(new_data["imonth"] == 0)].index.__len__()

0

In [84]:
# Let's remove some lines by the indexes
new_data.drop(index = new_data[(new_data["iday"] == 0)].index, axis = 0, inplace = True)

In [85]:
new_data["iday"].unique()

array([ 1,  2,  3,  6,  8,  9, 10, 11, 12, 13, 14, 15, 19, 20, 21, 22, 25,
       26, 27, 28, 30, 31,  4,  7, 16, 17, 18, 23, 24,  5, 29],
      dtype=int64)

In [86]:
# create a new column named as date
new_data['date'] = new_data["iyear"].astype("str") + "-" + new_data["imonth"].astype("str") + "-" + new_data["iday"].astype("str")

In [87]:
new_data["date"]

0           1970-1-1
1           1970-1-1
2           1970-1-2
3           1970-1-2
4           1970-1-2
             ...
180795    2017-12-31
180796    2017-12-31
180797    2017-12-31
180798    2017-12-31
180799    2017-12-31
Name: date, Length: 180800, dtype: object

In [88]:
# transformation de la colonne en format date_time
new_data["date"] = pd.to_datetime(new_data['date'])

In [89]:
new_data.sort_values('date', inplace=True)

In [90]:
new_data["date"].dtype

dtype('<M8[ns]')

In [91]:
new_data['date']

0        1970-01-01
1        1970-01-01
2        1970-01-02
3        1970-01-02
4        1970-01-02
            ...
180776   2017-12-31
180775   2017-12-31
180798   2017-12-31
180786   2017-12-31
180799   2017-12-31
Name: date, Length: 180800, dtype: datetime64[ns]

## Traitement des valeurs manquantes

In [92]:
missing_percentages = new_data.isna().sum().sort_values(ascending = False)/len(new_data)
missing_percentages

iyear                 0.0
weapsubtype4_txt      0.0
gname                 0.0
natlty1_txt           0.0
kidhijcountry         0.0
weaptype1_txt         0.0
weapsubtype1_txt      0.0
weaptype2_txt         0.0
weapsubtype2_txt      0.0
weaptype3_txt         0.0
weapsubtype3_txt      0.0
weaptype4_txt         0.0
targtype1_txt         0.0
iday                  0.0
targsubtype1_txt      0.0
targtype2_txt         0.0
targsubtype2_txt      0.0
targtype3_txt         0.0
targsubtype3_txt      0.0
claimmode_txt         0.0
propextent_txt        0.0
propextent            0.0
propvalue             0.0
dbsource              0.0
motive                0.0
summary               0.0
nhostkidus            0.0
ransompaidus          0.0
imonth                0.0
nkill                 0.0
country_txt           0.0
nwound                0.0
region_txt            0.0
provstate             0.0
city                  0.0
nkillus               0.0
nwoundus              0.0
region_txt.1          0.0
latitude              0.0
longitude             0.0
attacktype1_txt       0.0
alternative_txt       0.0
suicide               0.0
ransompaid            0.0
nhostkid              0.0
hostkidoutcome_txt    0.0
ransomnote            0.0
nhours                0.0
ndays                 0.0
date                  0.0
dtype: float64

Remplacement des valeurs manquantes dans les variables quantitatives par 0.

In [93]:
quant = new_data.columns[~new_data.columns.isin(new_data.select_dtypes('object').columns.to_list())]

In [94]:
new_data[quant] = new_data[quant].fillna(0)

On constate que seules les variables qualitatives contiennent des valeurs manquantes. On remplacera par des guillemets.

In [95]:
qual = new_data.select_dtypes('object').columns

In [96]:
new_data[qual] = new_data[qual].fillna("''")

In [97]:
missing_percentages = new_data.isna().sum().sort_values(ascending = False)/len(new_data)
missing_percentages

iyear                 0.0
weapsubtype4_txt      0.0
gname                 0.0
natlty1_txt           0.0
kidhijcountry         0.0
weaptype1_txt         0.0
weapsubtype1_txt      0.0
weaptype2_txt         0.0
weapsubtype2_txt      0.0
weaptype3_txt         0.0
weapsubtype3_txt      0.0
weaptype4_txt         0.0
targtype1_txt         0.0
iday                  0.0
targsubtype1_txt      0.0
targtype2_txt         0.0
targsubtype2_txt      0.0
targtype3_txt         0.0
targsubtype3_txt      0.0
claimmode_txt         0.0
propextent_txt        0.0
propextent            0.0
propvalue             0.0
dbsource              0.0
motive                0.0
summary               0.0
nhostkidus            0.0
ransompaidus          0.0
imonth                0.0
nkill                 0.0
country_txt           0.0
nwound                0.0
region_txt            0.0
provstate             0.0
city                  0.0
nkillus               0.0
nwoundus              0.0
region_txt.1          0.0
latitude              0.0
longitude             0.0
attacktype1_txt       0.0
alternative_txt       0.0
suicide               0.0
ransompaid            0.0
nhostkid              0.0
hostkidoutcome_txt    0.0
ransomnote            0.0
nhours                0.0
ndays                 0.0
date                  0.0
dtype: float64

In [98]:
new_data.head()

,iyear,iday,imonth,nkill,country_txt,nwound,region_txt,provstate,city,nkillus,...,targtype2_txt,targsubtype2_txt,targtype3_txt,targsubtype3_txt,claimmode_txt,propextent_txt,propextent,propvalue,dbsource,date
0,1970,1,1,0.0,United States,0.0,North America,Illinois,Cairo,0.0,...,'','','','','',Minor (likely < $1 million),3.0,0.0,Hewitt Project,1970-01-01
1,1970,1,1,0.0,United States,0.0,North America,Wisconsin,Baraboo,0.0,...,'','','','','',Minor (likely < $1 million),3.0,0.0,PGIS,1970-01-01
2,1970,2,1,0.0,Uruguay,0.0,South America,Montevideo,Montevideo,0.0,...,'','','','','','',0.0,0.0,PGIS,1970-01-02
3,1970,2,1,0.0,United States,0.0,North America,California,Oakland,0.0,...,'','','','','',Minor (likely < $1 million),3.0,22500.0,Hewitt Project,1970-01-02
4,1970,2,1,0.0,United States,0.0,North America,Wisconsin,Madison,0.0,...,'','','','',Letter,Minor (likely < $1 million),3.0,60000.0,Hewitt Project,1970-01-02

In [99]:
new_data.to_csv("data/cleaned/terror.csv", index = False)

## Vérification du dataset

In [61]:
new_data = pd.read_csv("data/cleaned/terror.csv")

In [62]:
new_data.head()

,iyear,iday,imonth,nkill,country_txt,nwound,region_txt,provstate,city,nkillus,...,targsubtype1_txt,targtype2_txt,targsubtype2_txt,targtype3_txt,targsubtype3_txt,claimmode_txt,propextent_txt,propextent,propvalue,dbsource
0,1970,2,7,1.0,Dominican Republic,0.0,Central America & Caribbean,'',Santo Domingo,0.0,...,Named Civilian,'','','','','','',0.0,0.0,PGIS
1,1970,0,0,0.0,Mexico,0.0,North America,Federal,Mexico city,0.0,...,"Diplomatic Personnel (outside of embassy, cons...",'','','','','','',0.0,0.0,PGIS
2,1970,0,1,1.0,Philippines,0.0,Southeast Asia,Tarlac,Unknown,0.0,...,Radio Journalist/Staff/Facility,'','','','','','',0.0,0.0,PGIS
3,1970,0,1,0.0,Greece,0.0,Western Europe,Attica,Athens,0.0,...,Embassy/Consulate,'','','','','','',0.0,0.0,PGIS
4,1970,0,1,0.0,Japan,0.0,East Asia,Fukouka,Fukouka,0.0,...,Embassy/Consulate,'','','','','','',0.0,0.0,PGIS